*{
}

header{
    background-color: aquamarine;
    width: 980px;
    height: 140px;
}

main{
    margin-top: 15px;
    height: 450px;
    display: flex;
}

.sidebar{
    width: 270px;
    height: 450px;
    background-color: aquamarine;
}

.content{
    margin-left: 15px;
    width: 690px;
    height: 450px;
    background-color: aquamarine;
}

footer{
    margin-top: 15px;
    background-color: aquamarine;
    width: 980px;
    height: 70px;
}